<h1 class="h1 m-3">Welcome to use the name search webapp</h1>
<p></p>
<p class="m-3">Use these simple controls to access information on name frequency at Solita.</p>

<label class="m-3">Search for a name:</label>
<input type="text"
class="m-3"
(input)="onSearch($event)">
<div class="m-3"
*ngIf="soughtName==searchString; else elseBlock">
 <p class="card bg-light m-1 p-3">Amount of people that go by the name of {{soughtName}}: {{soughtAmount}}</p>
</div>

<ng-template #elseBlock>No search results</ng-template>

<hr>
<button class="btn btn-primary m-3" (click)="sortByAmount()">View names sorted by amount</button>
<button class="btn btn-primary m-3" (click)="sortByName()">View names in alphabetical order</button>
<button class="btn btn-primary m-3" (click)="viewAmount()">View amount of all names</button>

<section *ngIf="amountBtnClicked"><p>Amount of all names altogether: {{amount}}</p></section>


<article
*ngIf=tableVisible>
<table class="table table-striped">
  <caption>Names</caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Amount</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let object of nameObjectsList.names; let i = index"> <th scope="row">{{i + 1}}</th>
      <td>{{ object.name}}</td>
      <td>{{object.amount}}</td></tr>
  </tbody>
</table>
</article>







